# [지도 학습]

## 3. Decision Tree

In [3]:
# 라이브러리 호출 및 데이터 준비
import pandas as pd
df = pd.read_csv('./data/titanic/train.csv', index_col='PassengerId')
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
print(df.head())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

In [9]:
# 데이터 전처리
df = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Survived']] # 대괄호 하나만 사용하면, 컬럼 1개로 인식
df['Sex'] = df['Sex'].map({'male':0, 'female':1}) # 남자:0, 여자:1
df = df.dropna() # 값이 없는 데이터 삭제
X = df.drop('Survived', axis=1)
y = df['Survived']

In [10]:
X

             Pclass  Sex   Age  SibSp  Parch     Fare
PassengerId
1                 3    0  22.0      1      0   7.2500
2                 1    1  38.0      1      0  71.2833
3                 3    1  26.0      0      0   7.9250
4                 1    1  35.0      1      0  53.1000
5                 3    0  35.0      0      0   8.0500
...             ...  ...   ...    ...    ...      ...
886               3    1  39.0      0      5  29.1250
887               2    0  27.0      0      0  13.0000
888               1    1  19.0      0      0  30.0000
890               1    0  26.0      0      0  30.0000
891               3    0  32.0      0      0   7.7500

[714 rows x 6 columns]

In [11]:
y

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
886    0
887    0
888    1
890    1
891    0
Name: Survived, Length: 714, dtype: int64

In [12]:
# 훈련과 테스트 데이터셋으로 분리
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Decision Tree 모델 생성
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [14]:
model

DecisionTreeClassifier()

In [16]:
# 모델 훈련
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [17]:
# 모델 예측
y_predict = model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_predict)

0.8156424581005587

In [18]:
# Confustion Matrix
from sklearn.metrics import confusion_matrix
pd.DataFrame(
    confusion_matrix(y_test, y_predict),
    columns = ['Predicted Not Survival', 'Predicted Survival'],
    index = ['True Not Survival', 'True Survival']
)

                   Predicted Not Survival  Predicted Survival
True Not Survival                      96                  16
True Survival                          17                  50

In [19]:
confusion_matrix(y_test, y_predict)

array([[96, 16],
       [17, 50]], dtype=int64)

In [21]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.85      0.86      0.85       112
           1       0.76      0.75      0.75        67

    accuracy                           0.82       179
   macro avg       0.80      0.80      0.80       179
weighted avg       0.82      0.82      0.82       179